<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <a href="/" target="_self"><img src='https://assets.ensam.eu/logo/fr/logo-trans-322x84.png' alt="logo"></a>
        </div>
        <ul class="nav-menu">
            <li class="nav-links"><a href="/" target="_self">Home</a></li>
            <li class="nav-links"><a href="/Input" target="_self">Input</a></li>
            <li class="nav-links"><a href="/Analysis" target="_self">Analysis Selection</a></li>
            <li class="nav-links"><a href="/Help" target="_self">Help</a></li>
        </ul>
    </div>
</nav>